.person-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-image {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 155px;
    height: 155px;
}

.profile-photo {
    border-radius: 80px;
}

@media (min-width: 681px) {
    
}