/* Tabs */

.works-skills {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.tab-nav-btn {
    height: 50px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid transparent;
}

.allWorks {
    display: none;
}


.tab-nav-btn.active {
    border-bottom: 3px solid #FFC22B;
    border-radius: 1px;

}

.tab-content {
    display: none;
}

.tab-content.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

/* My works divisioner */

.myWorksDivisioner {
    display: none;
}

/* Projects tab */

.work {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-name {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: normal;
}

.project-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.project-picture {
    margin-top: 30px;
    width: 90%;
    border-radius: 3px;
}

.projectDesktopName {
    display: none;
}

.projectDescription {
    width: 90%;
    height: 40px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

/* Buttons block */

.project-buttons {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

/* View more button */

.view-more {
    display: flex;
    width: 160px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-right: 5px;
}

.more-button {
    margin: auto;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/* Check code button */

.check-code {
    display: flex;
    width: 160px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-left: 5px;
}

.check-button {
    margin: auto;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}




/* My skills tab */
    .skill {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill-icons {
        width: 160px;
        display: flex;
        justify-content: space-around;
    }

    .react-icon {
        width: 42px;
        height: 42px;
    }

    .school {
        margin-top: 15px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    .direction {
        margin-top: 15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
    }

    .learning-time {
        margin-top: 15px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    .certificate-block {
        margin-top: 15px;
        width: 80%;
    }

    .certificate {
        border-radius: 5px;
    }

    .description-block {
        width: 80%;
    }

    .description {
        margin-top: 15px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 2;
        margin-bottom: 50px;
    }




    /* Technologies */
    
    .technologies {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .i-use {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #fff;
        margin-bottom: 30px;
    }
    
    .technology {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app-logo {
        width: 42px;
        height: 42px;
    }

    .app-name {
        margin-top: 10px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }

    .app-descriprion {
        margin-top: 10px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin-bottom: 50px;
    }

    .additionalKnowledge {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .alsoText {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .alsoUnderline {
        width: 100%;
        height: 2px;
        background-color: #FFC22B;
        margin-bottom: 15px;
    }

    .knowledgeWrapper {
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin-bottom: 50px;
    }

    .knowledge{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .knowledgeIcon {
        width: 42px;
        height: 42px;
    }

    .knowledgeDescrition {
        margin-top: 15px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        margin-bottom: 15px;
    }





@media (min-width: 681px) {
    .works-skills {
        display: none;
    }

    .project-name {
        display: none;
    }

/* My works divisioner */

.myWorksDivisioner {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.worksText {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
}

.workTextUnderline {
    width: 250%;
    height: 2px;
    background-color: #FFC22B;
}


    #tab-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        width: 70%;
        margin-bottom: 80px;
    }

    .projectDesktopName {
        margin-top: 20px;
        display: flex;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .projectDesktopName:hover {
        color: #FFC22B;
        transition: 0.1s;
    }

    .project-picture:hover {
        transform: scale(1.1, 1.1);
        transition: 0.3s;
    }



    .view-more:hover{
        color: black;
        background-color: #FFC701;
        border: 1px solid #FFC22B;
        transition: 0.3s;
    }

    .more-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; 
    }

    .more-button:hover {
        color: #000;
        transition: 0.4s;
    }

    /* Check button hover */

        .check-code:hover {
            color: black;
            background-color: #FFC701;
            border: 1px solid #FFC22B;
            transition: 0.3s;
        }
    
        .check-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    
        .check-button:hover {
            color: #000;
            transition: 0.4s;
        }

    /* Skills block */
    
    #tab-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        width: 70%;
    }


    .skill-icons:hover {
        transform: scale(1.2, 1.2);
        transition: 0.8s;
    }

    .school:hover {
        color: #FFC22B;
        transition: 0.8s;
    }

    .direction {
        display: flex;
        justify-content: center;
        width: 270px;
    }

    .direction:hover {
        color: #FFC22B;
        transition: 0.8s;
        transform: scale(1.2, 1.2);
    }

    .certificate:hover {
        transform: scale(1.2, 1.2);
        transition: 0.3s;
    }

/* Tools Block */

    .technologies {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 230px;
        background: rgba(128, 135, 130, 0.17);
        margin-bottom: 80px;
    }


    .i-use {
        display: none;
    }

    #technoligiesText {
        margin-bottom: 50px;
    }


    #technologiesUnderline {
        display: none;
    }

    .app-descriprion {
        min-width: 150px;
        text-align: center;
        margin-bottom: 0;
    }

    .knowledge:hover {
        transform: translate(-10px, -10px);
        transition: 0.3s;
    }


}

@media (min-width: 961px) {
    #tab-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    #tab-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        width: 70%;
    }
}